Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi

js: make features extraction static to allow for testing
  js/magika.ts
Owners: @invernizzi

js: add tests vs. reference
  js/test/features_extraction_vs_reference.test.ts
  js/test/inference_vs_reference.test.ts
  js/test/utils.ts
Owners: @invernizzi

js: fix Status string mapping for OK
  js/src/status.ts
Owners: @invernizzi

js: uncomment low_confidence OW reason assignment
  js/magika.ts
Owners: @invernizzi

js: more validation for model config loading
  js/src/model-config.ts
Owners: @invernizzi

js: fix string mapping for OverwriteReason enum
  js/src/overwrite-reason.ts
Owners: @invernizzi

js: use camelCase for typescript methods
  js/magika.ts
  js/test/features_extraction_vs_reference.test.ts
Owners: @invernizzi

js: make most methods private; use create() as THE way to init magika
  js/index.ts
  js/magika-node.ts
  js/magika.ts
  js/test/features_extraction_vs_reference.test.ts
  js/test/inference_vs_reference.test.ts
  js/test/magika.test.ts
Owners: @invernizzi

js: add copyright
  js/index.ts
  js/magika-node.ts
  js/magika.ts
  js/src/content-type-info.ts
  js/src/content-types-infos.ts
  js/src/magika-options.ts
  js/src/magika-prediction.ts
  js/src/magika-result.ts
  js/src/model-config.ts
  js/src/model-features.ts
  js/src/model-node.ts
  js/src/model-prediction.ts
  js/src/model.ts
  js/src/overwrite-reason.ts
  js/src/prediction-mode.ts
  js/src/status.ts
  js/test/features_extraction_vs_reference.test.ts
  js/test/inference_vs_reference.test.ts
  js/test/magika.test.ts
  js/test/tfnHook.ts
  js/test/utils.ts
Owners: @invernizzi

scripts: extend copyright check to .ts
  python/scripts/check_copyright.sh
Owners: @reyammer

js: update sync.py to emit DO NOT EDIT warning
  js/src/content-type-label.ts
  js/src/content-types-infos.ts
  python/scripts/sync.py
Owners: @invernizzi, @reyammer

js: re-add imports, removed by mistake
  js/src/content-types-infos.ts
Owners: @invernizzi

js: improve CLI
  js/index.ts
Owners: @invernizzi

js: clean up model_version hack
  js/magika.ts
  js/test/magika.test.ts
Owners: @invernizzi

js: restore .js in the imports
  js/index.ts
  js/magika-node.ts
  js/magika.ts
  js/tsconfig.cjs.json
  js/tsconfig.esm.json
  js/tsconfig.json
Owners: @invernizzi

js: update file paths in package.json
  js/package.json
Owners: @invernizzi

js: force build before testing
  js/package.json
Owners: @invernizzi

js: add identifyStream tests for examples_by_content tests
  js/test/inference_vs_reference.test.ts
Owners: @invernizzi

js: add tests for the CLI
  js/test/magika_cli.test.ts
Owners: @invernizzi

js: add --debug to CLI
  js/index.ts
Owners: @invernizzi

js: update README
  js/README.md
Owners: @invernizzi

scripts: include js/README.md for only-external links check
  python/scripts/check_documentation.py
Owners: @reyammer

website: add .gitignore
  website/.gitignore
Owners: @invernizzi

js: remove node things from non-node modules
  js/magika-node.ts
  js/magika.ts
  js/src/model-config-node.ts
  js/src/model-config.ts
Owners: @invernizzi

js: update docs
  docs/js.md
Owners: @invernizzi

js: remove identifyBytes(Buffer) from public API of MagikaNode
  js/magika-node.ts
Owners: @invernizzi

js: update docs
  docs/js.md
  js/magika-node.ts
Owners: @invernizzi

js: fix assertion-like check
  js/magika.ts
Owners: @invernizzi

js: update paths names to follow best practices
  docs/js.md
  js/magika-cli.ts
  js/magika-node.ts
  js/magika.ts
  js/package.json
  js/test/features-extraction-vs-reference.test.ts
  js/test/inference-vs-reference.test.ts
  js/test/magika-cli.test.ts
  js/tsconfig.json
Owners: @invernizzi

js: fix+test CLI, which was showing help twice
  js/magika-cli.ts
  js/test/magika-cli.test.ts
Owners: @invernizzi

Initial version of check_release_candidate_python_package.py
  python/scripts/check_release_candidate_python_package.py
Owners: @reyammer

improvement on first draft of check_release_candidate_python_package.py
  python/scripts/check_release_candidate_python_package.py
Owners: @reyammer

scripts: pass with ruff and quick fix
  python/scripts/check_release_candidate_python_package.py
Owners: @reyammer

Release JS v 0.3.1
  js/package.json
Owners: @invernizzi

Make the website use the latest Magika model
  website/package.json
  website/src/components/FileClassifierDemo.vue
  website/yarn.lock
Owners: @invernizzi

Make the website use the latest Magika model (#1044)
  website/package.json
  website/src/components/FileClassifierDemo.vue
  website/yarn.lock
Owners: @invernizzi

Update github-pages.yml to use yarn
  .github/workflows/github-pages.yml
Owners: @reyammer, @invernizzi

Update github-pages.yml to use yarn (#1045)
  .github/workflows/github-pages.yml
Owners: @reyammer, @invernizzi

website: update yarn.lock
  website/yarn.lock
Owners: @invernizzi

website: add textarea interactive demo
  website/src/components/FileClassifierDemo.vue
  website/src/components/Homepage.vue
  website/src/components/TextAreaClassifierDemo.vue
Owners: @invernizzi
