Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi

python: update CHANGELOG
  python/CHANGELOG.md
Owners: @reyammer

docs: update bibtex entry to point to ICSE'25 paper
  README.md
  python/README.md
Owners: @reyammer

docs: add script to check documentation (for now, links)
  python/scripts/check_documentation.py
Owners: @reyammer

gh: add gh action to run the check docs script
  .github/workflows/docs-check.yml
Owners: @reyammer, @invernizzi

assets: simplify check docs script
  python/scripts/check_documentation.py
Owners: @reyammer

docs: nits
  README.md
  python/README.md
Owners: @reyammer

docs: add placeholder README.md for standard_v1 model
  assets/models/standard_v1/README.md
Owners: @reyammer

docs: overhaul of all the docs
  README.md
  assets/magika-abusech.png
  assets/magika-vt.png
  docs/bindings.md
  docs/concepts.md
  docs/magika_output.md
  docs/supported_content_types_list.md
  python/README.md
  rust/cli/README.md
Owners: @reyammer, @invernizzi

docs: pass on FAQs
  docs/faq.md
Owners: @reyammer

docs: pass on concepts
  docs/concepts.md
Owners: @reyammer

python: improve comments around ContentTypeLabel enum
  python/src/magika/types/content_type_label.py
Owners: @reyammer

docs: improve READMEs
  README.md
  python/README.md
Owners: @reyammer

docs: fix rust's docs
  rust/cli/README.md
Owners: @reyammer

gh: add gh action to run the check docs script
  .github/workflows/docs-check.yml
Owners: @reyammer, @invernizzi

docs: add script to check documentation (for now, links)
  python/scripts/check_documentation.py
Owners: @reyammer

assets: simplify check docs script
  python/scripts/check_documentation.py
Owners: @reyammer

Release Rust crates
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

scripts: fix check docs script to deal with non-pure anchors
  python/scripts/check_documentation.py
Owners: @reyammer

Release Rust crates (#974)
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

Update check_documentation.py
  python/scripts/check_documentation.py
Owners: @reyammer

python: prepare for release of 0.6.1-rc2
  python/CHANGELOG.md
  python/src/magika/__init__.py
Owners: @reyammer

python: bump version to 0.6.1-rc3-dev
  python/src/magika/__init__.py
Owners: @reyammer

python: add `identify_stream` API and tests
  python/src/magika/magika.py
  python/src/magika/seekable.py
  python/tests/test_magika_python_module.py
Owners: @reyammer

python: document the new API
  README.md
  python/CHANGELOG.md
  python/README.md
Owners: @reyammer

scripts: check URLs in allowlist by prefix, not by exact match
  python/scripts/check_documentation.py
Owners: @reyammer

Update bindings link for Rust in README
  README.md
Owners: @reyammer

Update bindings link for Rust in README (#977)
  README.md
Owners: @reyammer

Release Rust crates
  README.md
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

Release Rust crates (#982)
  README.md
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

python: make identify_path(s) accepting str
  python/CHANGELOG.md
  python/src/magika/magika.py
  python/tests/test_magika_python_module.py
Owners: @reyammer

python: rename `get_version` => `get_module_version` method
  python/CHANGELOG.md
  python/src/magika/magika.py
  python/tests/test_magika_python_module.py
Owners: @reyammer

assets/python/rust: import new standard_v3_2 model
  assets/models/CHANGELOG.md
  assets/models/standard_v3_2/README.md
  assets/models/standard_v3_2/config.min.json
  assets/models/standard_v3_2/metadata.json
  assets/models/standard_v3_2/model.onnx
  python/CHANGELOG.md
  python/scripts/sync.py
  python/src/magika/magika.py
  python/src/magika/models/standard_v3_1/config.min.json
  python/src/magika/models/standard_v3_1/metadata.json
  python/src/magika/models/standard_v3_1/model.onnx
  python/src/magika/models/standard_v3_2/README.md
  python/src/magika/models/standard_v3_2/config.min.json
  python/src/magika/models/standard_v3_2/metadata.json
  python/src/magika/models/standard_v3_2/model.onnx
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/output
  rust/gen/model
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
  rust/lib/src/content.rs
  rust/lib/src/model.rs
Owners: @reyammer, @invernizzi, @ia0

Update rust/cli/CHANGELOG.md
  rust/cli/CHANGELOG.md
Owners: @reyammer

Update rust/cli/CHANGELOG.md
  rust/cli/CHANGELOG.md
Owners: @reyammer

Update rust/cli/Cargo.toml
  rust/cli/Cargo.toml
Owners: @ia0

Update rust/cli/Cargo.toml
  rust/cli/Cargo.toml
Owners: @ia0

Update rust/lib/CHANGELOG.md
  rust/lib/CHANGELOG.md
Owners: @reyammer

Update rust/lib/Cargo.toml
  rust/lib/Cargo.toml
Owners: @ia0

rust: update lock files
  rust/cli/Cargo.lock
  rust/lib/Cargo.lock
Owners: @ia0

Update README.md
  README.md
Owners: @reyammer
