Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi

Fix Rust lib and CLI versions
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/README.md
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

Fix Rust lib and CLI versions (#793)
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/README.md
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

python: simplify dep markers for ipython
  python/pyproject.toml
  python/uv.lock
Owners: @reyammer

python: bump python package version
  python/CHANGELOG.md
  python/src/magika/__init__.py
Owners: @reyammer

Release Rust crates
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

python: update readme mentioning 0.6.0rc2
  README.md
  python/README.md
Owners: @reyammer

docs: add note about magika paper @ ICSE'25
  README.md
  python/README.md
Owners: @reyammer

python: constraint onnxruntime version to fix uv/macos problems
  python/pyproject.toml
  python/uv.lock
Owners: @reyammer

python: bump version and update changelog
  python/CHANGELOG.md
  python/src/magika/__init__.py
Owners: @reyammer

python: attempt to `uv add magika` when building packages (linux/macos only for now)
  .github/workflows/maturin.yml
Owners: @reyammer, @invernizzi

Update README.md
  README.md
Owners: @reyammer

Update README.md
  README.md
Owners: @reyammer

python: rename build python package
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: add badges to READMEs
  README.md
  python/README.md
Owners: @reyammer

python: relax version constraint for onnxruntime
  python/pyproject.toml
  python/uv.lock
Owners: @reyammer

python: add gh workflow to test published -rc packages
  .github/workflows/python-test-published-rc-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-rc-package.yml
  .github/workflows/python-test-published-rc-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-package.yml
  .github/workflows/python-test-published-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-package.yml
  .github/workflows/python-test-published-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-package.yml
  .github/workflows/python-test-published-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-package.yml
  .github/workflows/python-test-published-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-rc-package.yml
  .github/workflows/python-test-published-rc-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-rc-package.yml
  .github/workflows/python-test-published-rc-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-rc-package.yml
  .github/workflows/python-test-published-rc-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-rc-package.yml
  .github/workflows/python-test-published-rc-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-package.yml
  .github/workflows/python-test-published-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-package.yml
  .github/workflows/python-test-published-package.yml
Owners: @reyammer, @invernizzi

Update python-build-package.yml
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

Update python-build-package.yml
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

Update python-build-package.yml
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

Pin ort version and update vulnerable rustls
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/src/main.rs
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
  rust/lib/src/builder.rs
  rust/lib/src/future.rs
  rust/lib/src/session.rs
Owners: @reyammer, @ia0

fix onnx
  rust/onnx/build.sh
Owners: @ia0

Removed .tar files from the PR
  python/.tox/.tmp/package/1/magika-0.6.0.dev0.tar.gz
  python/.tox/.tmp/package/2/magika-0.6.0.dev0.tar.gz
  python/.tox/.tmp/package/3/magika-0.6.0.dev0.tar.gz
Owners: @reyammer

Add coverage analysis for tests of the python package
  python/.DS_Store
  python/.coverage
  python/.gitignore
  python/.tox/.tmp/package/1/magika-0.6.0.dev0.tar.gz
  python/.tox/.tmp/package/2/magika-0.6.0.dev0.tar.gz
  python/.tox/.tmp/package/3/magika-0.6.0.dev0.tar.gz
  python/.tox/py310/.tox-info.json
  python/.tox/py37/.tox-info.json
  python/.tox/py38/.tox-info.json
  python/da
  python/pytest.ini
  python/tests/.DS_Store
  python/tox.ini
Owners: @reyammer

Add coverage analysis for tests of the python package
  python/.gitignore
  python/pytest.ini
  python/tox.ini
Owners: @reyammer

Add coverage analysis for tests of the python package
  python/.DS_Store
  python/.coverage
  python/pytest.ini
  python/tests/.DS_Store
  python/tests/utils.py
Owners: @reyammer

Update python-build-package.yml to use windows runner
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-package.yml to use windows runner
  .github/workflows/python-test-published-package.yml
Owners: @reyammer, @invernizzi

Update python-test-published-rc-package.yml to use windows runner
  .github/workflows/python-test-published-rc-package.yml
Owners: @reyammer, @invernizzi

Remove install uv step for windows
  .github/workflows/python-build-package.yml
  .github/workflows/python-test-published-package.yml
  .github/workflows/python-test-published-rc-package.yml
Owners: @reyammer, @invernizzi
