Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

Update python/changelog.sh
  python/changelog.sh
Owners: @reyammer

Use cargo-dist to release the Rust CLI
  .github/workflows/cli-latest.yml
  .github/workflows/cli-release.yml
  .github/workflows/rust-package.yml
  dist-workspace.toml
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/deb/extended-description
  rust/cli/publish.sh
  rust/cli/src/main.rs
  rust/latest.sh
  rust/sync.sh
Owners: @reyammer, @invernizzi, @ia0

Use cargo-dist to release the Rust CLI (#1107)
  .github/workflows/cli-latest.yml
  .github/workflows/cli-release.yml
  .github/workflows/rust-package.yml
  dist-workspace.toml
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/deb/extended-description
  rust/cli/publish.sh
  rust/cli/src/main.rs
  rust/latest.sh
  rust/sync.sh
Owners: @reyammer, @invernizzi, @ia0

Use cargo-dist to release the Rust CLI (#1107)
  .github/workflows/cli-latest.yml
  .github/workflows/cli-release.yml
  .github/workflows/rust-package.yml
  dist-workspace.toml
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/deb/extended-description
  rust/cli/publish.sh
  rust/cli/src/main.rs
  rust/latest.sh
  rust/sync.sh
Owners: @reyammer, @invernizzi, @ia0

Release Rust crates
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
Owners: @reyammer, @ia0

Release Rust crates (#1137)
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
Owners: @reyammer, @ia0

Update README
  README.md
  rust/cli/README.md
Owners: @reyammer

Commit the CLI to stability
  README.md
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/README.md
  rust/cli/src/main.rs
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
  rust/lib/README.md
  rust/lib/src/file.rs
  rust/lib/src/input.rs
  rust/lib/src/lib.rs
  rust/sync.sh
Owners: @reyammer, @ia0

Release Rust crates
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

Update python/changelog.sh
  python/changelog.sh
Owners: @reyammer

added files to give message some changes are not documented
  .github/workflows/python-test-suite.yml
  python/changelog.sh
Owners: @reyammer, @invernizzi

Update python/changelog.sh
  python/changelog.sh
Owners: @reyammer

created first draft of check_copyright file in python
  python/scripts/check_copyright.py
Owners: @reyammer

Bump version from 0.3.2 to 1.0.0
  js/package.json
Owners: @invernizzi

add changelog
  js/CHANGELOG.md
Owners: @invernizzi

fixed imports
  js/README.md
  js/package.json
  js/yarn.lock
Owners: @invernizzi

Example imports in various configurations for JS
  js/simple_examples/browser-esmodule-example/index.html
  js/simple_examples/browser-esmodule-example/index.js
  js/simple_examples/browser-esmodule-example/package.json
  js/simple_examples/browser-esmodule-example/playwright.config.ts
  js/simple_examples/browser-esmodule-example/test/simple.spec.ts
  js/simple_examples/node-commonjs-example/index.js
  js/simple_examples/node-commonjs-example/package.json
  js/simple_examples/node-esmodule-example/index.js
  js/simple_examples/node-esmodule-example/package.json
  js/simple_examples/run_examples.sh
  js/simple_examples/typescript-esmodule-example/index.ts
  js/simple_examples/typescript-esmodule-example/package.json
Owners: @invernizzi

review fixes
  js/.gitignore
  js/simple_examples/node-esmodule-example/package.json
Owners: @invernizzi

making gemini happy
  js/simple_examples/browser-esmodule-example/package.json
Owners: @invernizzi

Update package name, author, and description
  js/simple_examples/node-commonjs-example/package.json
Owners: @invernizzi

Modify package.json with new project details
  js/simple_examples/node-esmodule-example/package.json
Owners: @invernizzi

Rename package and update description
  js/simple_examples/typescript-esmodule-example/package.json
Owners: @invernizzi

Update package.json
  js/simple_examples/typescript-esmodule-example/package.json
Owners: @invernizzi

Remove TensorFlow logging suppression comment
  js/simple_examples/browser-esmodule-example/index.js
Owners: @invernizzi

Update import path for MagikaNode
  js/magika-node.ts
Owners: @invernizzi

Github action to test JS imports
  .github/workflows/js-check-import-scenarios.yml
  js/simple_examples/browser-esmodule-example/package.json
  js/simple_examples/node-commonjs-example/package.json
  js/simple_examples/node-esmodule-example/package.json
  js/simple_examples/typescript-esmodule-example/package.json
Owners: @reyammer, @invernizzi

Fix Playwright
  .github/workflows/js-check-import-scenarios.yml
Owners: @reyammer, @invernizzi

switch to main for js-import checks
  .github/workflows/js-check-import-scenarios.yml
Owners: @reyammer, @invernizzi

Update js/simple_examples/node-commonjs-example/package.json
  js/simple_examples/node-commonjs-example/package.json
Owners: @invernizzi

Update js/simple_examples/node-esmodule-example/package.json
  js/simple_examples/node-esmodule-example/package.json
Owners: @invernizzi

Update js/simple_examples/typescript-esmodule-example/package.json
  js/simple_examples/typescript-esmodule-example/package.json
Owners: @invernizzi

Use GH Actions to check various JS import configurations (fixes #299) (#1154)
  .github/workflows/js-check-import-scenarios.yml
  js/simple_examples/browser-esmodule-example/package.json
  js/simple_examples/node-commonjs-example/package.json
  js/simple_examples/node-esmodule-example/package.json
  js/simple_examples/typescript-esmodule-example/package.json
Owners: @reyammer, @invernizzi

Reduce action size for js-check-import-scenarios
  .github/workflows/js-check-import-scenarios.yml
Owners: @reyammer, @invernizzi

Reduce action size for js-check-import-scenarios (#1155)
  .github/workflows/js-check-import-scenarios.yml
Owners: @reyammer, @invernizzi

Change rm command to remove node_modules recursively
  .github/workflows/js-check-import-scenarios.yml
Owners: @reyammer, @invernizzi

Reduce size of github action (#1156)
  .github/workflows/js-check-import-scenarios.yml
Owners: @reyammer, @invernizzi

feat: Add .psd test to tests_data/basic (#1118)
  tests_data/basic/psd/MagikaTest.psd
Owners: @reyammer

Downgrade checkout action from v5 to v4
  .github/workflows/cli-release.yml
Owners: @reyammer, @invernizzi

Downgrade checkout action from v5 to v4 (#1157)
  .github/workflows/cli-release.yml
Owners: @reyammer, @invernizzi

Update Magika import path in js.md
  docs/js.md
Owners: @invernizzi

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi
