Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi

Website textarea demo (#1046)
  website/src/components/FileClassifierDemo.vue
  website/src/components/Homepage.vue
  website/src/components/TextAreaClassifierDemo.vue
  website/yarn.lock
Owners: @invernizzi

gh workflow: js release only when tag is on main branch
  .github/workflows/js-publish.yml
Owners: @reyammer, @invernizzi

gh workflow: add stub for website tests
  .github/workflows/website-test.yml
Owners: @reyammer, @invernizzi

gh workflows: use yarn install --frozen-lockfile
  .github/workflows/js-docs-builder.yml
  .github/workflows/js-publish.yml
  .github/workflows/js-test.yml
  .github/workflows/website-test.yml
Owners: @reyammer, @invernizzi

gh workflows: clean up
  .github/workflows/docs-check.yml
  .github/workflows/js-test.yml
  .github/workflows/python-build-package.yml
  .github/workflows/python-test-suite.yml
  .github/workflows/rust-test.yml
Owners: @reyammer, @invernizzi

docs: include more paths to be checked
  .github/workflows/docs-check.yml
Owners: @reyammer, @invernizzi

gh workflows: formatting
  .github/labeler.yml
  .github/scorecard.yml
  .github/workflows/codeql.yml
  .github/workflows/github-issue-labeler.yml
  .github/workflows/github-pages.yml
  .github/workflows/python-test-published-package.yml
  .github/workflows/python-test-published-rc-package.yml
  .github/workflows/scorecard.yml
Owners: @reyammer, @invernizzi

gh workflow: use --frozen-lockfile for yarn install
  .github/workflows/website-test.yml
Owners: @reyammer, @invernizzi

Update js-publish.yml
  .github/workflows/js-publish.yml
Owners: @reyammer, @invernizzi

Publish JS versions only if a push is to the main branch AND tagged with js-v-1.2.3
  .github/workflows/js-publish.yml
Owners: @reyammer, @invernizzi

website: display informative message if the demo is not available
  website/src/components/Homepage.vue
Owners: @invernizzi

website: clean up code
  website/src/components/Homepage.vue
Owners: @invernizzi

changelog
  rust/lib/CHANGELOG.md
Owners: @reyammer

Update github-pages.yml
  .github/workflows/github-pages.yml
Owners: @reyammer, @invernizzi

Update Homepage.vue
  website/src/components/Homepage.vue
Owners: @invernizzi

assets: new standard_v3_3 model
  assets/models/CHANGELOG.md
  assets/models/standard_v3_3/README.md
  assets/models/standard_v3_3/config.min.json
  assets/models/standard_v3_3/metadata.json
  assets/models/standard_v3_3/model.onnx
Owners: @reyammer, @invernizzi

website: make standard_v3_3 available to website
  website/public/models/standard_v3_3/README.md
  website/public/models/standard_v3_3/config.min.json
  website/public/models/standard_v3_3/group1-shard1of1.bin
  website/public/models/standard_v3_3/metadata.json
  website/public/models/standard_v3_3/model.json
Owners: @invernizzi

website: use standard_v3_3 model
  website/src/components/FileClassifierDemo.vue
  website/src/components/Homepage.vue
  website/src/components/TextAreaClassifierDemo.vue
Owners: @invernizzi

python: update changelog
  python/CHANGELOG.md
Owners: @reyammer

docs: formatting of README.md
  README.md
Owners: @reyammer

docs: new bindings table
  README.md
Owners: @reyammer

python: make magika module default to standard_v3_3
  python/src/magika/magika.py
Owners: @reyammer

python: update sync script
  python/scripts/sync.py
Owners: @reyammer

tests: add reference for standard_v3_3
  tests_data/reference/standard_v3_3-inference_examples_by_content.json.gz
  tests_data/reference/standard_v3_3-inference_examples_by_path.json.gz
Owners: @reyammer

website: trim text before processing
  website/src/components/TextAreaClassifierDemo.vue
Owners: @invernizzi

scripts: check_docs, skip bindings versions checks
  python/scripts/check_documentation.py
Owners: @reyammer

js: bump to standard_v3_3
  js/magika.ts
  js/package.json
Owners: @invernizzi

python: import standard_v3_3
  python/src/magika/models/standard_v3_2/config.min.json
  python/src/magika/models/standard_v3_2/metadata.json
  python/src/magika/models/standard_v3_2/model.onnx
  python/src/magika/models/standard_v3_3/README.md
  python/src/magika/models/standard_v3_3/config.min.json
  python/src/magika/models/standard_v3_3/metadata.json
  python/src/magika/models/standard_v3_3/model.onnx
Owners: @reyammer

website: use same js example
  website/src/components/FileClassifierDemo.vue
  website/src/components/TextAreaClassifierDemo.vue
Owners: @invernizzi

scripts: check_docs, ignore node_modules and dist/
  python/scripts/check_documentation.py
Owners: @reyammer

rust: update to standard_v3_3
  rust/cli/CHANGELOG.md
  rust/cli/output
  rust/gen/model
  rust/lib/CHANGELOG.md
  rust/lib/src/content.rs
  rust/lib/src/model.rs
Owners: @reyammer, @ia0

js: for tests, update path to latest model
  js/test/inference-vs-reference.test.ts
Owners: @invernizzi

python: be more lenient when testing for floats
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

js: update changelog
  js/CHANGELOG.md
Owners: @invernizzi

docs: update README.md
  README.md
Owners: @reyammer

update badges in README and python/README
  README.md
  python/README.md
Owners: @reyammer

docs: remove openssf badge until we fix it
  README.md
  python/README.md
Owners: @reyammer

docs: add npm badge
  README.md
  python/README.md
Owners: @reyammer

created first draft of check_copyright file in python
  python/scripts/check_copyright.py
Owners: @reyammer

created first draft of check_copyright file in python
  python/scripts/check_copyright.py
Owners: @reyammer
