Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi

python: -dev version after release
  python/src/magika/__init__.py
Owners: @reyammer

gh workflow: test the built wheels with different versions of python
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

gh workflow: disable fail fast for testing
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

gh workflow: add testing with many python versions for the pure python wheel
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

gh workflow: fix failure in adding fail-fast
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: add back constrains for onnxruntime
  python/pyproject.toml
  python/uv.lock
Owners: @reyammer

python: update changelog
  python/CHANGELOG.md
Owners: @reyammer

python: constraint onnxruntime even more
  python/pyproject.toml
Owners: @reyammer

python: add placeholder for magika for for the pure python wheel
  python/src/magika/cli/magika_rust_client_not_found_warning.py
Owners: @reyammer

python: expose the python client as "magika-python-client"
  python/scripts/prepare_pyproject_for_pure_python_wheel.py
Owners: @reyammer

gh workflow: adapt the python build workflow for the new pure python wheel
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

gh workflow: simplify python's build workflow
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: cli tester should not resolve the path or assume existance
  python/scripts/run_quick_test_magika_cli.py
Owners: @reyammer

gh workflow: generate sdist alongside pure python wheel
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: update python lock
  python/uv.lock
Owners: @reyammer

Update CHANGELOG.md
  python/CHANGELOG.md
Owners: @reyammer

add test case about ignorefile
  tests_data/basic/ignorefile/example.ignorefile
Owners: @reyammer

tuning for 3.0 model
  assets/models/standard_v3_0/config.min.json
  python/src/magika/models/standard_v3_0/config.min.json
Owners: @reyammer, @invernizzi

Update Rust
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
  rust/lib/src/model.rs
Owners: @reyammer, @ia0

python: update version
  python/src/magika/__init__.py
Owners: @reyammer

python: go back to -dev version
  python/src/magika/__init__.py
Owners: @reyammer

assets: more models thresholds tuning
  assets/models/standard_v3_0/config.min.json
  python/src/magika/models/standard_v3_0/config.min.json
Owners: @reyammer, @invernizzi

rust: update model thresholds
  rust/lib/src/model.rs
Owners: @ia0

gh workflow: build packages for release events
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

Release Rust crates
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

python: new -rc release
  python/CHANGELOG.md
  python/src/magika/__init__.py
Owners: @reyammer

python: restore -dev version
  python/src/magika/__init__.py
Owners: @reyammer

python: bump twine version
  python/pyproject.toml
  python/uv.lock
Owners: @reyammer

update content types kb
  assets/content_types_kb.min.json
  python/src/magika/config/content_types_kb.min.json
  rust/lib/src/content.rs
Owners: @reyammer, @invernizzi, @ia0

assets: add standard_v3_1 model
  assets/models/standard_v3_1/README.md
  assets/models/standard_v3_1/config.min.json
  assets/models/standard_v3_1/metadata.json
  assets/models/standard_v3_1/model.onnx
Owners: @reyammer, @invernizzi

assets: update models' CHANGELOG
  assets/models/CHANGELOG.md
Owners: @reyammer

assets: update content types KB
  assets/content_types_kb.min.json
Owners: @reyammer, @invernizzi

python: improve sync.py script
  python/scripts/sync.py
Owners: @reyammer

python: bump model to standard_v3_1
  python/scripts/sync.py
Owners: @reyammer

python: update KB and update to standard_v3_1
  python/src/magika/config/content_types_kb.min.json
  python/src/magika/models/standard_v3_0/config.min.json
  python/src/magika/models/standard_v3_0/model.onnx
  python/src/magika/models/standard_v3_1/README.md
  python/src/magika/models/standard_v3_1/config.min.json
  python/src/magika/models/standard_v3_1/metadata.json
  python/src/magika/models/standard_v3_1/model.onnx
Owners: @reyammer

rust: update KB
  rust/lib/src/content.rs
Owners: @ia0

rust: bump model to standard_v3_1
  rust/gen/model
Owners: @ia0

python: fix model version bump
  python/src/magika/magika.py
Owners: @reyammer

rust: sync
  rust/cli/output
  rust/gen/src/main.rs
  rust/lib/src/content.rs
  rust/lib/src/model.rs
Owners: @ia0

rust: update changelogs and toml and lock
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0
