Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

Adding basic build for magika
  .github/workflows/docker-build.yml
Owners: @reyammer, @invernizzi

go: add a Go library for Magika
  go/README.md
  go/cli/cli.go
  go/cli/cli_test.go
  go/cli/main.go
  go/cli/tests_data/magika_test.zip
  go/cli/tests_data/magika_test_pptx.txt
  go/docker/Dockerfile
  go/go.mod
  go/go.sum
  go/magika/config.go
  go/magika/content.go
  go/magika/features.go
  go/magika/features_test.go
  go/magika/scanner.go
  go/magika/scanner_test.go
  go/onnx/onnx.go
  go/onnx/onnx_runtime.go
  go/onnx/onnx_runtime.h
  go/onnx/onnx_runtime_test.go
  go/onnx/onnx_zero.go
Owners: @reyammer, @invernizzi

add .zipx extension to zip content type
  python/src/magika/config/content_types_kb.min.json
Owners: @reyammer

Add Coveralls configurations in workflows
  .github/workflows/python-test-suite.yml
  python/pytest.ini
Owners: @reyammer, @invernizzi

Modified and made updates on the CI/CD workdflow
  .github/workflows/python-test-suite.yml
Owners: @reyammer, @invernizzi

Create code.zig
  tests_data/basic/zig/code.zig
Owners: @reyammer

DO NOT MERGE: Support linux aarch64
  .github/workflows/codeql.yml
  .github/workflows/github-issue-labeler.yml
  .github/workflows/github-pages.yml
  .github/workflows/js-docs-builder.yml
  .github/workflows/js-publish.yml
  .github/workflows/js-test.yml
  .github/workflows/python-build-package.yml
  .github/workflows/python-test-published-package.yml
  .github/workflows/python-test-published-rc-package.yml
  .github/workflows/python-test-suite.yml
  .github/workflows/rust-test.yml
  .github/workflows/scorecard.yml
  rust/onnx/build.sh
  rust/onnx/maturin.sh
Owners: @reyammer, @invernizzi, @ia0

assets/python: update KB to make it suitable for v3_0
  assets/content_types_kb.min.json
  python/src/magika/config/content_types_kb.min.json
  python/src/magika/types/content_type_label.py
Owners: @reyammer, @invernizzi

assets: introduce new standard_v3_0 model
  assets/models/standard_v3_0/README.md
  assets/models/standard_v3_0/config.min.json
  assets/models/standard_v3_0/metadata.json
  assets/models/standard_v3_0/model.onnx
Owners: @reyammer, @invernizzi

python: update model sync script
  python/scripts/sync.py
Owners: @reyammer

python: imported standard_v3_0
  python/src/magika/models/standard_v3_0/config.min.json
  python/src/magika/models/standard_v3_0/model.onnx
Owners: @reyammer

python: update default model to standard_v3_0
  python/src/magika/magika.py
Owners: @reyammer

python: bump magika module version
  python/src/magika/__init__.py
Owners: @reyammer

python: add model dir name logs to quick python module tester
  python/scripts/run_quick_test_magika_module.py
Owners: @reyammer

Fix TODO for fixed issue
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

Create code.srt
  tests_data/basic/srt/code.srt
Owners: @reyammer

Create asm.rs
  tests_data/basic/rust/asm.rs
Owners: @reyammer

Fix nightly lints
  .github/workflows/rust-test.yml
  rust/gen/src/main.rs
Owners: @reyammer, @invernizzi, @ia0

Fix nightly lints (#880)
  .github/workflows/rust-test.yml
  rust/gen/src/main.rs
Owners: @reyammer, @invernizzi, @ia0

Use standard_v3_0 in Rust
  rust/cli/output
  rust/gen/content_types
  rust/gen/model
  rust/gen/src/main.rs
  rust/lib/src/content.rs
  rust/lib/src/lib.rs
  rust/lib/src/model.rs
Owners: @ia0

changelog
  rust/cli/CHANGELOG.md
  rust/lib/CHANGELOG.md
Owners: @reyammer

Rename COMPAT to MAJOR_VERSION
  rust/gen/src/main.rs
  rust/lib/CHANGELOG.md
  rust/lib/src/content.rs
  rust/lib/src/lib.rs
Owners: @ia0, @reyammer

fix get list of possible outputs API
  python/src/magika/magika.py
Owners: @reyammer

update changelog
  python/CHANGELOG.md
Owners: @reyammer

partially apply comments
  rust/cli/CHANGELOG.md
  rust/lib/CHANGELOG.md
Owners: @reyammer

add get_model_content_types API
  python/src/magika/magika.py
Owners: @reyammer

add/update tests for the two get_{model,output}_content_types APIs
  python/tests/test_magika_python_module.py
Owners: @reyammer

Update python changelog
  python/CHANGELOG.md
Owners: @reyammer

python: fix tests
  python/tests/test_magika_python_module.py
Owners: @reyammer

Import fixed standard_v3_0, in assets and python module
  assets/models/standard_v3_0/config.min.json
  assets/models/standard_v3_0/metadata.json
  assets/models/standard_v3_0/model.onnx
  python/src/magika/models/standard_v3_0/config.min.json
  python/src/magika/models/standard_v3_0/model.onnx
Owners: @reyammer, @invernizzi

assets/python: minify even more the content types KB json
  assets/content_types_kb.min.json
  python/src/magika/config/content_types_kb.min.json
Owners: @reyammer, @invernizzi

test: use the old standard_v3_0 model
  assets/models/standard_v3_0/config.min.json
  assets/models/standard_v3_0/metadata.json
  assets/models/standard_v3_0/model.onnx
Owners: @reyammer, @invernizzi

import in python the old 3.0 model
  python/src/magika/models/standard_v3_0/config.min.json
  python/src/magika/models/standard_v3_0/model.onnx
Owners: @reyammer

print more info
  python/scripts/run_quick_test_magika_module.py
Owners: @reyammer

Update with new v3
  rust/cli/output
  rust/gen/content_types
  rust/lib/src/content.rs
  rust/lib/src/model.rs
Owners: @ia0

add back the new 3.0 model
  assets/models/standard_v3_0/config.min.json
  assets/models/standard_v3_0/metadata.json
  assets/models/standard_v3_0/model.onnx
  python/src/magika/models/standard_v3_0/config.min.json
  python/src/magika/models/standard_v3_0/model.onnx
Owners: @reyammer, @invernizzi

test
  .github/workflows/codeql.yml
  .github/workflows/github-issue-labeler.yml
  .github/workflows/github-pages.yml
  .github/workflows/js-docs-builder.yml
  .github/workflows/js-publish.yml
  .github/workflows/js-test.yml
  .github/workflows/python-build-package.yml
  .github/workflows/python-test-published-package.yml
  .github/workflows/python-test-published-rc-package.yml
  .github/workflows/python-test-suite.yml
  .github/workflows/rust-test.yml
  .github/workflows/scorecard.yml
  output
  rust/cli/src/main.rs
Owners: @reyammer, @invernizzi, @ia0

test workflow to spot differences
  .github/workflows/cli-python-tester.yml
  python/scripts/run_quick_test_magika_cli.py
  python/scripts/run_quick_test_magika_module.py
Owners: @reyammer, @invernizzi

use uv to run quick tests
  .github/workflows/cli-python-tester.yml
Owners: @reyammer, @invernizzi

assets: Improve model's documentation
  assets/models/standard_v3_0/README.md
Owners: @reyammer

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi
