Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

Update Magika import path in js.md (#1158)
  docs/js.md
Owners: @invernizzi

add Commander to dev deps for /js
  js/package.json
Owners: @invernizzi

Update js/package.json
  js/package.json
Owners: @invernizzi

Revert "build(deps): bump commander from 13.1.0 to 14.0.1 in /js (#1141)"
  js/package.json
  js/yarn.lock
Owners: @invernizzi

website: import astro template
  website-ng/.gitignore
  website-ng/README.md
  website-ng/astro.config.mjs
  website-ng/package-lock.json
  website-ng/package.json
  website-ng/public/favicon.svg
  website-ng/src/assets/houston.webp
  website-ng/src/content.config.ts
  website-ng/src/content/docs/guides/example.md
  website-ng/src/content/docs/index.mdx
  website-ng/src/content/docs/reference/example.md
  website-ng/tsconfig.json
Owners: @reyammer, @invernizzi

Revert "build(deps): bump commander from 13.1.0 to 14.0.1 in /js (#1141)" (#1160)
  js/package.json
  js/yarn.lock
Owners: @invernizzi

website - WIP - half working vuetify integration
  website-ng/astro.config.mjs
  website-ng/package-lock.json
  website-ng/package.json
  website-ng/public/logo.svg
  website-ng/public/models/standard_v3_2/config.min.json
  website-ng/public/models/standard_v3_2/group1-shard1of1.bin
  website-ng/public/models/standard_v3_2/metadata.json
  website-ng/public/models/standard_v3_2/model.json
  website-ng/public/models/standard_v3_3/README.md
  website-ng/public/models/standard_v3_3/config.min.json
  website-ng/public/models/standard_v3_3/group1-shard1of1.bin
  website-ng/public/models/standard_v3_3/metadata.json
  website-ng/public/models/standard_v3_3/model.json
  website-ng/public/paper.png
  website-ng/src/components/magika-demo/BarsVisualization.vue
  website-ng/src/components/magika-demo/HackedFileClassifierDemo.vue
  website-ng/src/components/magika-demo/MagikaDemo.vue
  website-ng/src/components/magika-demo/Markdown.vue
  website-ng/src/components/magika-demo/TextAreaClassifierDemo.vue
  website-ng/src/components/vuetify-demo/VuetifyCounter.vue
  website-ng/src/components/vuetify-demo/VuetifyTextArea.vue
  website-ng/src/content/docs/demo/magika-demo.mdx
  website-ng/src/content/docs/demo/vuetify-counter-demo.mdx
  website-ng/src/content/docs/demo/vuetify-textarea-demo.mdx
  website-ng/src/content/docs/introduction/overview.md
  website-ng/src/content/docs/reference/example2.md
  website-ng/src/plugins/vue-entry.js
  website-ng/src/plugins/vuetify.js
  website-ng/src/styles/global.scss
  website-ng/tsconfig.json
Owners: @reyammer, @invernizzi

website: skip landing page
  website-ng/astro.config.mjs
Owners: @reyammer, @invernizzi

website: add core concepts
  website-ng/src/content/docs/core-concepts/how-magika-works.md
  website-ng/src/content/docs/core-concepts/models-and-content-types.md
  website-ng/src/content/docs/core-concepts/prediction-modes.md
  website-ng/src/content/docs/core-concepts/understanding-the-output.md
Owners: @reyammer

website: add assets for new website
  website-ng/public/magika-abusech.png
  website-ng/public/magika-screenshot.png
  website-ng/public/magika-vt.png
Owners: @reyammer, @invernizzi

website: remove things from astro starlight template
  website-ng/src/assets/houston.webp
  website-ng/src/content/docs/guides/example.md
  website-ng/src/content/docs/index.mdx
  website-ng/src/content/docs/reference/example.md
  website-ng/src/content/docs/reference/example2.md
Owners: @reyammer, @invernizzi

website: add more sections
  website-ng/src/content/docs/cli-and-bindings/overview.md
  website-ng/src/content/docs/contributing/creating-new-bindings.md
  website-ng/src/content/docs/contributing/how-to-contribute.md
  website-ng/src/content/docs/contributing/known-limitations.md
  website-ng/src/content/docs/contributing/reporting-security-vulnerabilities.md
  website-ng/src/content/docs/getting-started/example.md
  website-ng/src/content/docs/getting-started/installation.mdx
  website-ng/src/content/docs/getting-started/quick-start.md
Owners: @reyammer, @invernizzi

website: update content
  website-ng/src/content/docs/core-concepts/how-magika-works.md
  website-ng/src/content/docs/introduction/overview.md
Owners: @reyammer

website: update astro config
  website-ng/astro.config.mjs
Owners: @reyammer, @invernizzi

website: add additional resources
  website-ng/astro.config.mjs
  website-ng/public/2025_icse_magika.pdf
  website-ng/src/content/docs/additional-resources/changelog.md
  website-ng/src/content/docs/additional-resources/disclaimer.md
  website-ng/src/content/docs/additional-resources/faq.md
  website-ng/src/content/docs/additional-resources/license.md
  website-ng/src/content/docs/additional-resources/related-blog-posts.md
  website-ng/src/content/docs/additional-resources/research-papers-and-citation.md
Owners: @reyammer, @invernizzi

website: nits & clean ups
  website-ng/src/content/docs/getting-started/example.md
  website-ng/src/content/docs/getting-started/installation.mdx
  website-ng/src/content/docs/introduction/overview.md
Owners: @reyammer, @invernizzi

website: update package-lock.json
  website-ng/package-lock.json
Owners: @reyammer, @invernizzi

Fix rustdoc nightly build: Replace doc_auto_cfg with doc_cfg
  rust/lib/src/lib.rs
Owners: @ia0

Update version to 0.2.3-dev and add changelog entry
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

Update to 0.2.3-dev and propagate changes to CLI
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/gen/Cargo.lock
  rust/lib/Cargo.lock
Owners: @reyammer, @ia0

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi
