Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi

Simplify Rust code
  rust/gen/src/main.rs
  rust/lib/CHANGELOG.md
  rust/lib/src/config.rs
  rust/lib/src/input.rs
  rust/lib/src/model.rs
Owners: @ia0, @reyammer

Update issue templates
  .github/ISSUE_TEMPLATE/-misdetection-.md
  .github/ISSUE_TEMPLATE/new_content_type_request.md
Owners: @reyammer

Simplify Rust code (#1070)
  rust/gen/src/main.rs
  rust/lib/CHANGELOG.md
  rust/lib/src/config.rs
  rust/lib/src/input.rs
  rust/lib/src/model.rs
Owners: @ia0, @reyammer

Release Rust crates
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

Release Rust crates (#1073)
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

python: fix bug in python client about low-confidence warnings
  python/src/magika/cli/magika_client.py
Owners: @reyammer

python: simplify features extraction
  python/src/magika/magika.py
Owners: @reyammer

python: update enum.StrEnum() mapping to string
  python/src/magika/types/strenum.py
  tests_data/reference/standard_v3_3-inference_examples_by_content.json.gz
  tests_data/reference/standard_v3_3-inference_examples_by_path.json.gz
Owners: @reyammer

js: update string representation of enums
  js/src/overwrite-reason.ts
  js/src/prediction-mode.ts
Owners: @invernizzi

assets: add ICSE'25 paper and links to it
  README.md
  assets/2025_icse_magika.pdf
  python/README.md
Owners: @reyammer, @invernizzi

python: update changelog
  python/CHANGELOG.md
Owners: @reyammer

docs: update README's bindings table
  README.md
Owners: @reyammer

python: prepare for release of 0.6.2
  python/CHANGELOG.md
  python/src/magika/__init__.py
Owners: @reyammer

Update README.md
  README.md
Owners: @reyammer

python: bump version to -dev
  python/src/magika/__init__.py
Owners: @reyammer

Create SECURITY.md
  SECURITY.md
Owners: @reyammer

Sample EML, MHT, and Outlook MSG files.
  tests_data/basic/eml/sample.eml
  tests_data/basic/mht/sample.mht
  tests_data/basic/outlook/sample.msg
Owners: @reyammer

Bump ort from -rc.9 to -rc.10
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/src/main.rs
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
  rust/lib/src/future.rs
  rust/lib/src/lib.rs
  rust/lib/src/session.rs
  rust/onnx/build.sh
  rust/onnx/maturin.sh
Owners: @reyammer, @ia0

Bump ort from -rc.9 to -rc.10 (#1098)
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/src/main.rs
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
  rust/lib/src/future.rs
  rust/lib/src/lib.rs
  rust/lib/src/session.rs
  rust/onnx/build.sh
  rust/onnx/maturin.sh
Owners: @reyammer, @ia0

Generate deb package for the CLI
  .github/workflows/rust-package.yml
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.toml
  rust/cli/deb/extended-description
  rust/sync.sh
  rust/taplo.toml
Owners: @reyammer, @invernizzi, @ia0

Pin onnxruntime on Windows
  python/pyproject.toml
Owners: @reyammer

Change the default performance tuning configuration
  rust/cli/CHANGELOG.md
  rust/cli/src/main.rs
Owners: @reyammer, @ia0

Generate deb package for the CLI
  .github/workflows/rust-package.yml
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.toml
  rust/cli/deb/extended-description
  rust/sync.sh
  rust/taplo.toml
Owners: @reyammer, @invernizzi, @ia0

Generate deb package for the CLI (#1096)
  .github/workflows/rust-package.yml
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.toml
  rust/cli/deb/extended-description
  rust/sync.sh
  rust/taplo.toml
Owners: @reyammer, @invernizzi, @ia0

Release Rust crates
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

created first draft of check_copyright file in python
  python/scripts/check_copyright.py
Owners: @reyammer

Modified and made updates on the CI/CD workdflow
  .github/workflows/python-test-suite.yml
Owners: @reyammer, @invernizzi

Add Coveralls configurations in workflows
  .github/workflows/python-test-suite.yml
  python/pytest.ini
Owners: @reyammer, @invernizzi

Use cargo-dist to release the Rust CLI
  .github/workflows/cli-release.yml
  .github/workflows/rust-package.yml
  README.md
  dist-workspace.toml
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/README.md
  rust/cli/deb/extended-description
  rust/cli/publish.sh
  rust/cli/src/main.rs
  rust/sync.sh
Owners: @reyammer, @invernizzi, @ia0

Use a slightly different yellow for gif
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/output
  rust/cli/src/main.rs
  rust/sync.sh
Owners: @reyammer, @ia0

Use true colors for the CLI (#1108)
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/output
  rust/cli/src/main.rs
  rust/sync.sh
Owners: @reyammer, @ia0

Update colors with more exhaustive list
  rust/cli/CHANGELOG.md
  rust/cli/output
  rust/cli/src/main.rs
Owners: @reyammer, @ia0

created first draft of check_copyright file in python
  python/scripts/check_copyright.py
Owners: @reyammer

feat: Add .psd test to tests_data/basic
  tests_data/basic/psd/MagikaTest.psd
Owners: @reyammer

Fix ONNX Runtime build
  .github/workflows/python-build-package.yml
  rust/onnx/build.sh
Owners: @reyammer, @invernizzi, @ia0

Fix ONNX Runtime build (#1119)
  .github/workflows/python-build-package.yml
  rust/onnx/build.sh
Owners: @reyammer, @invernizzi, @ia0

Disable PR summary from Gemini
  .gemini/config.yaml
Owners: @reyammer, @invernizzi

Disable PR summary from Gemini (#1120)
  .gemini/config.yaml
Owners: @reyammer, @invernizzi

Update python/changelog.sh
  python/changelog.sh
Owners: @reyammer

added files to give message some changes are not documented
  .github/workflows/python-test-suite.yml
  python/changelog.sh
Owners: @reyammer, @invernizzi
