Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

Add OverwriteReason
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/src/main.rs
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
  rust/lib/src/file.rs
  rust/lib/src/lib.rs
  rust/lib/src/session.rs
Owners: @reyammer, @ia0

Do not overwrite to the same
  rust/lib/src/file.rs
Owners: @ia0

python: if dl.label == output.label always set overwrite_reason to NONE
  python/src/magika/magika.py
Owners: @reyammer

python: add more tests for prediction.overwrite_reason
  python/tests/test_magika_python_module.py
Owners: @reyammer

tests: re-generate reference tests
  tests_data/reference/features_extraction_examples.json.gz
  tests_data/reference/standard_v3_2-inference_examples_by_content.json.gz
  tests_data/reference/standard_v3_2-inference_examples_by_path.json.gz
Owners: @reyammer

python: update changelog
  python/CHANGELOG.md
Owners: @reyammer

Update and extend Rust reference tests (#1022)
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/src/main.rs
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
  rust/lib/src/file.rs
  rust/lib/src/input.rs
  rust/lib/src/lib.rs
  rust/lib/src/session.rs
Owners: @reyammer, @ia0

tests: regenerate reference tests
  tests_data/reference/features_extraction_examples.json.gz
  tests_data/reference/standard_v3_2-inference_examples_by_content.json.gz
  tests_data/reference/standard_v3_2-inference_examples_by_path.json.gz
Owners: @reyammer

tests: make reference tests generation deterministic
  python/tests/test_features_extraction_vs_reference.py
  python/tests/test_inference_vs_reference.py
  python/tests/utils.py
Owners: @reyammer

gh workflows: fix conditions
  .github/workflows/python-build-package.yml
  .github/workflows/python-test-suite.yml
Owners: @reyammer, @invernizzi

js: remove package-lock.json
  website/package-lock.json
Owners: @invernizzi

js: add --by-stream to the CLI to allow for testing
  js/index.ts
Owners: @invernizzi

js: restructure tests
  js/test/magika.test.ts
Owners: @invernizzi

js: hack to start supporting ContentTypeInfo
  js/src/magika.ts
  js/src/magika_node.ts
  js/src/model.ts
Owners: @invernizzi

js: tests, update expected features
  js/test/magika.test.ts
Owners: @invernizzi

js: formatting and moved more files to src/
  js/index.ts
  js/src/config.ts
  js/src/magika.ts
  js/src/magika_node.ts
  js/src/model.ts
  js/src/model_node.ts
  js/src/moduleFeatures.ts
  js/test/magika.test.ts
  js/tsconfig.json
Owners: @invernizzi

Magika 3.2 is working* in JS (but needs final touches - text detection is disabled).
  js/magika.ts
  js/magika_node.ts
  js/src/config.ts
  js/src/model.ts
Owners: @invernizzi

wip - patch for js code
  js/.gitignore
  js/magika.ts
  js/magika_node.ts
  js/yarn.lock
Owners: @invernizzi

js: skip "empty" test case
  js/test/magika.test.ts
Owners: @invernizzi

js: update features extraction (wip)
  js/src/magika.ts
  js/src/magika_node.ts
Owners: @invernizzi

Initial version of check_release_candidate_python_package.py
  python/scripts/check_release_candidate_python_package.py
Owners: @reyammer

improvement on first draft of check_release_candidate_python_package.py
  python/scripts/check_release_candidate_python_package.py
Owners: @reyammer

python: fix comments
  python/src/magika/magika.py
Owners: @reyammer

python: use enum.auto() for Status StrEnum
  python/src/magika/types/status.py
Owners: @reyammer

python: update comments
  python/src/magika/magika.py
Owners: @reyammer

python: more small fixes
  python/src/magika/types/status.py
Owners: @reyammer

python: internal variable renaming clean up
  python/src/magika/magika.py
  python/src/magika/types/model.py
Owners: @reyammer

gh workflows: clean up
  .github/workflows/docs-check.yml
  .github/workflows/js-test.yml
  .github/workflows/python-build-package.yml
  .github/workflows/python-test-suite.yml
  .github/workflows/rust-test.yml
Owners: @reyammer, @invernizzi

assets: remove assets generation, we don't use this anymore
  assets_generation/README.md
  assets_generation/assets_generation/__init__.py
  assets_generation/assets_generation/generate_models_readmes.py
  assets_generation/assets_generation/main.py
  assets_generation/assets_generation/tfjs_config.py
  assets_generation/models/standard_v1/content_types_config.json
  assets_generation/models/standard_v1/magika_config.json
  assets_generation/models/standard_v1/model.h5
  assets_generation/models/standard_v1/model_config.json
  assets_generation/models/standard_v1/thresholds.json
  assets_generation/poetry.lock
  assets_generation/pyproject.toml
  assets_generation/tests/__init__.py
Owners: @reyammer, @invernizzi

js: simplify identifyStream implementation
  js/magika-node.ts
  js/test/magika.test.ts
Owners: @invernizzi

Magika 3.2 is working* in JS (but needs final touches - text detection is disabled).
  js/magika.ts
  js/magika_node.ts
  js/src/config.ts
  js/src/model.ts
Owners: @invernizzi

js: update index.ts to pass model version
  js/index.ts
Owners: @invernizzi

js: remove package-lock.json
  website/package-lock.json
Owners: @invernizzi

website: update paper screenshot
  website/assets/paper.png
Owners: @invernizzi

js: more refactoring and cleaning up
  js/index.ts
  js/magika-node.ts
  js/magika.ts
  js/src/magika-prediction.ts
  js/src/model-prediction.ts
  js/src/model.ts
  js/src/overwrite-reason.ts
  js/test/tfnHook.ts
Owners: @invernizzi

js: update paths after rename
  js/magika-node.ts
  js/src/model.ts
Owners: @invernizzi

js: clean up
  js/magika.ts
Owners: @invernizzi

js: rename module- => model-features.ts
  js/magika.ts
  js/src/model-features.ts
Owners: @invernizzi

js: update sync.py script to update js content types KB
  python/scripts/sync.py
Owners: @reyammer

js: big overhaul, refactoring, and clean up
  js/index.ts
  js/magika-node.ts
  js/magika.ts
  js/src/config.ts
  js/src/content-type-info.ts
  js/src/content-type-label.ts
  js/src/content-types-infos.ts
  js/src/contentType.ts
  js/src/magika-options.ts
  js/src/magika-prediction.ts
  js/src/magika-result.ts
  js/src/model-node.ts
  js/src/model.ts
  js/src/module-features.ts
  js/src/moduleFeatures.ts
  js/src/overwrite_reason.ts
  js/src/status.ts
  js/test/magika.test.ts
  js/tsconfig.json
Owners: @invernizzi

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi
