Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi

docs: improve check documentation script
  python/scripts/check_documentation.py
Owners: @reyammer

Release Rust crates
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

Release Rust crates (#991)
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

Update README.md
  python/README.md
Owners: @reyammer

python: prepare for release of 0.6.1-rc3
  python/CHANGELOG.md
  python/src/magika/__init__.py
Owners: @reyammer

docs: add rust docs tracking to check docs script
  python/scripts/check_documentation.py
Owners: @reyammer

Add notice on website about the new magika model
  website/src/components/Homepage.vue
Owners: @invernizzi

Fix wording
  website/src/components/Homepage.vue
Owners: @invernizzi

Add notice on website about the new magika model (#999)
  website/src/components/Homepage.vue
Owners: @invernizzi

python: update README
  python/README.md
Owners: @reyammer

python: fix links in CHANGELOG
  python/CHANGELOG.md
Owners: @reyammer

python: update CHANGELOG
  python/CHANGELOG.md
Owners: @reyammer

python: update docs
  python/README.md
Owners: @reyammer

python: prepare for 0.6.1 release
  python/src/magika/__init__.py
Owners: @reyammer

Update README.md
  README.md
Owners: @reyammer

Update README.md
  README.md
Owners: @reyammer

Update README.md
  README.md
Owners: @reyammer

Update README.md
  README.md
Owners: @reyammer

docs: update check docs script
  python/scripts/check_documentation.py
Owners: @reyammer

Upload the latest tfjs models
  website/public/models/3.2.0/config.min.json
  website/public/models/3.2.0/group1-shard1of1.bin
  website/public/models/3.2.0/metadata.json
  website/public/models/3.2.0/model.json
Owners: @invernizzi

rename models to follow standard
  website/public/models/standard_v3_2/config.min.json
  website/public/models/standard_v3_2/group1-shard1of1.bin
  website/public/models/standard_v3_2/metadata.json
  website/public/models/standard_v3_2/model.json
Owners: @invernizzi

Update dependencies
  js/magika_node.ts
  js/package.json
  js/yarn.lock
  website/package.json
  website/yarn.lock
Owners: @invernizzi

Magika 3.2 is working* in JS (but needs final touches - text detection is disabled).
  js/magika.ts
  js/magika_node.ts
  js/src/config.ts
  js/src/model.ts
Owners: @invernizzi

Update dependencies
  js/magika_node.ts
  js/package.json
  js/yarn.lock
  website/package.json
  website/yarn.lock
Owners: @invernizzi

gh workflow: Add sdist testing to Python build workflow
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: indicate support for python 3.13
  python/pyproject.toml
Owners: @reyammer

Bump to -dev version
  .github/workflows/python-test-published-package.yml
  .github/workflows/python-test-suite.yml
  python/src/magika/__init__.py
Owners: @reyammer, @invernizzi

gh workflow: add more testing for python 3.13
  .github/workflows/python-build-package.yml
  .github/workflows/python-test-published-rc-package.yml
Owners: @reyammer, @invernizzi

docs: update changelog
  python/CHANGELOG.md
Owners: @reyammer

python: bugfix: when re-reading the stream, limit the read to block_size bytes
  python/src/magika/magika.py
Owners: @reyammer

python: add tests with many whitespaces
  python/tests/test_magika_python_module.py
Owners: @reyammer

python: update CHANGELOG
  python/CHANGELOG.md
Owners: @reyammer

python: refactor tests for features extraction
  python/scripts/generate_features_extraction_reference.py
  python/tests/test_features_extraction.py
  python/tests/utils.py
Owners: @reyammer

python: fix typo in test function name
  python/scripts/generate_features_extraction_reference.py
  python/tests/test_features_extraction.py
  python/tests/utils.py
Owners: @reyammer

python: more refactoring for reference tests
  python/scripts/generate_features_extraction_reference.py
  python/tests/test_features_extraction.py
  python/tests/utils.py
Owners: @reyammer

python: add tqdm as dev dependency
  python/pyproject.toml
  python/uv.lock
Owners: @reyammer

python: more refactoring for tests
  python/tests/test_features_extraction.py
Owners: @reyammer

python: tweak tests for features extraction
  python/tests/test_features_extraction.py
Owners: @reyammer

python: delete old features extraction reference
  tests_data/features_extraction/reference.json.gz
Owners: @reyammer

python: add dacite as dev dep
  python/pyproject.toml
  python/uv.lock
Owners: @reyammer
