Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi

python: refactor test features_extraction against inference
  python/tests/test_features_extraction_against_reference.py
  python/tests/utils.py
Owners: @reyammer

python: add `asdict()` method to `MagikaResult`
  python/CHANGELOG.md
  python/src/magika/cli/magika_client.py
  python/src/magika/types/magika_result.py
Owners: @reyammer

python: rename test
  python/tests/test_features_extraction_vs_reference.py
Owners: @reyammer

python: add test_inference_vs_reference
  python/tests/test_inference_vs_reference.py
  python/tests/utils.py
Owners: @reyammer

python: add reference test cases by content, including corner cases
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

python: refactor test utils
  python/tests/utils.py
Owners: @reyammer

python: improve comments in get output from dl and score
  python/src/magika/magika.py
Owners: @reyammer

python: move some test util functions in shared utils.py
  python/tests/test_features_extraction_vs_reference.py
Owners: @reyammer

python: add "test reference generation" as part of the test suite
  python/tests/test_features_extraction_vs_reference.py
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

python: tests refactoring and renaming
  python/tests/test_features_extraction_vs_reference.py
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

python: clean up how we store/encode feature extraction test cases
  python/tests/test_features_extraction_vs_reference.py
Owners: @reyammer

python: compress reference tests info
  python/tests/test_inference_vs_reference.py
  python/tests/utils.py
Owners: @reyammer

python: remove needless tests
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

python: add script to generate all reference test cases
  python/scripts/generate_reference.py
Owners: @reyammer

python: fix off-by-one when checking whether we have enough content for DL prediction
  python/src/magika/magika.py
Owners: @reyammer

python: when checking vs. reference, test all identify_ variants
  python/tests/test_features_extraction_vs_reference.py
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

python: add different prediction_mode to reference
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

tests: add empty file test case
  tests_data/basic/empty/empty_file
Owners: @reyammer

python: add overwrite_reason to reference tests
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

python: add docs for reference tests data models
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

python: make tests terminology consistent for reference examples
  python/tests/test_features_extraction_vs_reference.py
  python/tests/utils.py
Owners: @reyammer

tests: add new tests reference examples
  tests_data/reference/features_extraction_examples.json.gz
  tests_data/reference/standard_v3_2-inference_examples_by_content.json.gz
  tests_data/reference/standard_v3_2-inference_examples_by_path.json.gz
Owners: @reyammer

python: fix types annotations
  python/src/magika/types/magika_result.py
  python/tests/test_features_extraction_vs_reference.py
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

python: do not alter warnings' filter
  python/src/magika/types/content_type_info.py
Owners: @reyammer

python: update changelog
  python/CHANGELOG.md
Owners: @reyammer

python: don't ignore warnings in pytest
  python/pytest.ini
Owners: @reyammer

python: make score test vs. inference more lenient
  python/tests/test_inference_vs_reference.py
Owners: @reyammer

docs: add developer notes about bindings and testing
  docs/dev-notes.md
Owners: @reyammer

tests: momentarily re-add old reference tests
  tests_data/features_extraction/reference.json.gz
Owners: @reyammer

python: most functions are now around Seekable, removed a lot of duplicate code
  python/src/magika/magika.py
  python/src/magika/seekable.py
  python/tests/test_features_extraction_vs_reference.py
  python/tests/test_magika_python_module.py
Owners: @reyammer

python: move Seekable under magika/types
  python/src/magika/magika.py
  python/src/magika/types/__init__.py
  python/src/magika/types/seekable.py
  python/tests/test_features_extraction_vs_reference.py
Owners: @reyammer

python: a non-accessible empty file is now flagged as "permission_error"
  python/src/magika/magika.py
  python/tests/test_magika_python_module.py
Owners: @reyammer

Add Coveralls configurations in workflows
  .github/workflows/python-test-suite.yml
  python/pytest.ini
Owners: @reyammer, @invernizzi

Modified and made updates on the CI/CD workdflow
  .github/workflows/python-test-suite.yml
Owners: @reyammer, @invernizzi

python: identify_stream seeks-back to initial position
  python/src/magika/magika.py
  python/tests/test_magika_python_module.py
Owners: @reyammer

python: update changelog
  python/CHANGELOG.md
Owners: @reyammer

Update features extraction
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
  rust/lib/src/input.rs
Owners: @reyammer, @ia0

Add inference tests
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/src/lib.rs
Owners: @reyammer, @ia0

Use -dev instead of -git
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

Use the current model config for unused values in features extraction test
  rust/lib/src/input.rs
Owners: @ia0
