Repository google/magika, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reyammer, @invernizzi, @ia0

python: add OverwriteReason field to MagikaPrediction
  python/CHANGELOG.md
  python/scripts/magika_python_module_tester.py
  python/src/magika/magika.py
  python/src/magika/types/__init__.py
  python/src/magika/types/overwrite_reason.py
  python/tests/test_magika_python_module.py
Owners: @reyammer

build: for Windows' builds, keep building in case of mispredictions
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: implement str() and repr() for Magika object
  .github/workflows/python-build-package.yml
  .github/workflows/python-test-published-rc-package.yml
  python/scripts/run_quick_test_magika_module.py
  python/src/magika/magika.py
Owners: @reyammer, @invernizzi

Disable automatic git CRLF conversion at checkout
  .github/workflows/js-publish.yml
  .github/workflows/js-test.yml
  .github/workflows/python-build-package.yml
  .github/workflows/python-test-published-package.yml
  .github/workflows/python-test-published-rc-package.yml
  .github/workflows/python-test-suite.yml
  .github/workflows/rust-test.yml
Owners: @reyammer, @invernizzi

gh workflow: add poc to show different onnxruntime results on windows
  .github/workflows/onnxruntime-windows-diff-poc.yml
  python/scripts/extract_features.py
Owners: @reyammer, @invernizzi

Force cmake version when build ONNX Runtime
  rust/onnx/build.sh
Owners: @ia0

gh: disable crlf conversion on all platforms via gitattributes
  .gitattributes
  .github/workflows/js-publish.yml
  .github/workflows/js-test.yml
  .github/workflows/python-build-package.yml
  .github/workflows/python-test-published-package.yml
  .github/workflows/python-test-published-rc-package.yml
  .github/workflows/python-test-suite.yml
  .github/workflows/rust-test.yml
Owners: @reyammer, @invernizzi

assets: add first model's changelog
  assets/models/CHANGELOG.md
Owners: @reyammer

fix todo
  rust/cli/CHANGELOG.md
  rust/lib/CHANGELOG.md
Owners: @reyammer

Use standard_v3_0 in Rust (#881)
  rust/cli/CHANGELOG.md
  rust/cli/output
  rust/gen/content_types
  rust/gen/model
  rust/gen/src/main.rs
  rust/lib/CHANGELOG.md
  rust/lib/src/content.rs
  rust/lib/src/lib.rs
  rust/lib/src/model.rs
Owners: @reyammer, @ia0

Release Rust crates
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

Release Rust crates (#910)
  rust/cli/CHANGELOG.md
  rust/cli/Cargo.lock
  rust/cli/Cargo.toml
  rust/lib/CHANGELOG.md
  rust/lib/Cargo.lock
  rust/lib/Cargo.toml
Owners: @reyammer, @ia0

python: update lock
  python/uv.lock
Owners: @reyammer

gh workflow: remove debugging
  .github/workflows/python-test-suite.yml
Owners: @reyammer, @invernizzi

python: prepare the python module tester script to act as CLI
  python/scripts/magika_python_module_tester.py
Owners: @reyammer

gh workflow: remove leftovers from windows/onnxruntime problems
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

fix gh workflow
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

gh workflow: clean up
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: patch pyproject to make magika python client available as script
  python/scripts/prepare_pyproject_for_pure_python_wheel.py
Owners: @reyammer

python: add script to prepare pyproject.toml for a pure wheel
  python/scripts/prepare_pyproject_for_pure_python_wheel.py
Owners: @reyammer

gh workflow: build pure python wheel alongside the others.
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

gh workflow: add debugging for ruff failure
  .github/workflows/python-test-suite.yml
Owners: @reyammer, @invernizzi

gh workflow: fix indentation
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: add tomli and tomli_w as dev deps to patch pyproject.toml
  python/pyproject.toml
  python/uv.lock
Owners: @reyammer

python: use --no-colors when testing magika client
  python/scripts/run_quick_test_magika_cli.py
Owners: @reyammer

python: rename magika client to magika_client.py
  python/scripts/prepare_pyproject_for_pure_python_wheel.py
  python/src/magika/cli/magika_client.py
  python/tests/test_python_magika_client.py
Owners: @reyammer

gh workflow: install uv
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: fix pyproject.toml to work with modern builders
  python/pyproject.toml
Owners: @reyammer

gh workflow: add testing for the newly build pure wheel
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: move python client to an appropriate location
  python/src/magika/cli/magika.py
Owners: @reyammer

Fix python-build-package.yml
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

Fix python-build-package.yml for windows
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

tests: test pure python wheel
  .github/workflows/python-build-package.yml
Owners: @reyammer, @invernizzi

python: make cli tester more lenient about stderr
  python/scripts/run_quick_test_magika_cli.py
Owners: @reyammer

python: relax constraint on onnxruntime
  python/pyproject.toml
Owners: @reyammer

python: remove v2_1 models
  python/src/magika/models/fast_v2_1/config.min.json
  python/src/magika/models/fast_v2_1/model.onnx
  python/src/magika/models/standard_v2_1/config.min.json
  python/src/magika/models/standard_v2_1/model.onnx
Owners: @reyammer

python: do not import standard_v2_1 anymore in python package models
  python/scripts/sync.py
Owners: @reyammer

python: update changelog
  python/CHANGELOG.md
Owners: @reyammer

python: bump python module version
  python/src/magika/__init__.py
Owners: @reyammer

gh workflow: bump uv version in public pip package testers
  .github/workflows/python-test-published-package.yml
  .github/workflows/python-test-published-rc-package.yml
Owners: @reyammer, @invernizzi

.github/CODEOWNERS:

#  Default owners (lowest precedence).
* @reyammer @invernizzi

# Julien owns the Rust code
/rust/ @ia0

# Yanick owns the Python code, all docs, and test data
/python/ @reyammer
*.md @reyammer
/tests_data/ @reyammer

# Luca owns the JS code, docs, and website
/js/ @invernizzi
/docs/js.md @invernizzi
/website/ @invernizzi
